.popup__error {
  z-index: 1;
  color: red;
  font-size: 12px;
  left: 0;
  line-height: 15px;
  opacity: 0;
  position: absolute;
  transition: .3s;
  bottom: 0px;
  transform: translateY(calc(100% + 10px));
  line-height: 1;
}